{:paths ["src"]
 :deps {org.clojure/clojure               {:mvn/version "1.9.0"}
        pjson                             {:mvn/version "0.4.0"}
        com.arangodb/arangodb-java-driver {:mvn/version "4.3.0"}
        org.slf4j/slf4j-simple            {:mvn/version "1.7.25"}}}
